@import "tailwindcss";

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

:root {
  --bg: #B299E0; /* Light ultraviolet */  
  --text:  #1a1a1a; /* leidos-text-primary */
  --leidos-header-bg:  #ffffff; 
  --sidebar-bg: #5C3A9E; /* Mid-ultraviolet */
} 

/* :root {
  --bg: #ffffff;
  --text: #222222;
  --sidebar-bg: #f4f4f4;
}  */

[data-theme="dark"] {
  --bg: #0a0a0a; /*leidos-bg-primary */
  --text: #f5f5f5;
  --sidebar-bg: #2a2a2a;
}

body {
  margin: 0;
  background: var(--bg);
  color: var(--text);
  font-family: sans-serif;
}

.layout {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}

header h1 {
  margin: 0;
}

header h2 {
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
} 

header {
  grid-column: 1 / span 2;
  padding: 1rem;
  background: var(--leidos-header-bg);
}

footer {
  grid-column: 1 / span 2;
  padding: 1rem;
  background: var(--sidebar-bg);
} 

aside {
  width:170px;
  background: var(--sidebar-bg);
} 

ul {
  list-style: none;
  font-size: 14px;
  padding: 0.75rem;
} 

main {
  padding: 1rem;
}
